
<form [formGroup]="form" class="mx-auto col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
    <div class="container ">
        <div class="row div_titulo">
            <h1 class="h1_titulo">Entrada</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="m-1 card" style="overflow-y: ;">
                <div class="card-header">Datos de la entrada</div>
                <hr>
                <mat-form-field appearance="outline">
                    <mat-label>N° remito</mat-label>
                    <input matInput  formControlName="number_refer" value="" placeholder="Numero de remito">
                </mat-form-field>

                <div class="form__div_Estructura">
                    <mat-form-field class="form__input_Estructura" appearance="outline">
                        <mat-label>Destino</mat-label>
                        <select matNativeControl formControlName="struct_id" (change)="getEstructura()">
                            <option value="" selected></option>
                            <option *ngFor="let destino of destinos" [ngValue]='destino.id'> {{ destino.name}} </option> 
                        </select>
                    </mat-form-field>
         
                    <mat-form-field class="form__input_Estructura" appearance="outline">
                        <mat-label></mat-label>
                        <select matNativeControl formControlName="estructura">
                            <option value="" selected></option>
                            <option *ngFor="let estructura of estructuras" [ngValue]='estructura.id'> {{estructura.name}} </option> 
                        </select>
                    </mat-form-field>

                </div>
                


                <mat-form-field class="" appearance="outline">
                    <mat-label>Categorias</mat-label>
                    <select matNativeControl formControlName="categoria" (change)="getElementByCategory()">
                        <option value="" selected></option>
                        <option *ngFor="let categoria of categorias" [ngValue]='categoria.id_category'> {{ categoria.name_category}} </option> 
                    </select>
                </mat-form-field>

           
            
             
               
                <div class="">
                    <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name_element"></a> 
                    </ng-template>
                
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            
            </div>

            <div class="m-1 card">
                <div class="card-header">Elementos Seleccionados <span class="badge badge-primary">{{contadorSeleccion}}</span></div>
             
                <hr>
                <cdk-virtual-scroll-viewport class="example-viewportt" itemSize="60">
                    <dl class="dl_list">
                      <ng-container *ngFor="let element of elementosSelecionados;let i = index">
                        <dt class="dt__list"> <span class="dt__list_span">Nombre:</span>{{element.elemento.name_element}}<span class="dt__list_span">Cantidad:</span>{{element.cantidad}}<button mat-stroked-button color="warn"  (click)="noSeleccionar(i)">Delete</button></dt>
                   
                      </ng-container>
                    </dl>
                  </cdk-virtual-scroll-viewport>

                

            </div>
          
          

        </div>
        <hr>            
    </div>
    <hr>
    <div class="container">
       
            <div class="form__div_button">
                <button type="submit" [disabled]="!form.valid" style="width: 100%;" id="guardar" class="button texto-boton-responsivo"
                    (click)="enviar()" class="btn btn-primary form__button_guardar" value="Guardar">
                    Guardar
                </button>
            </div>
       
    </div>
</form>