.example-viewport {
    height: 4em;
    width: 27em;
   
  }

  .example-viewportt {
    height: 25em;
    width: 25em;
   
  }
  
  .example-dt {
    height: 2.5em;
  
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
  }