<body>
    <form  formGroup="form" ng-submit="enviar()"  class="form mx-auto col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
        <div class="container .titulo">
            <div class="row">
   
                <div class="col-8">
                    <h1 class="card" align="center">Ingreso de Datos</h1>
                </div>

            </div>
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-5 card">
                        <label for="name">Nombre<br />
                            <input type="text" id="name" class="input"  formControlName="name" size="32" value="" placeholder="Nombre" required /></label>
                        <label for="apell">Apellido<br />
                            <input type="text" id="apell" class="input" size="32" value="" formControlName="last_name" placeholder="Apellido" required /></label>
                        <label for="username">Nombre De Usuario<br />
                            <input type="text" id="username" class="input" value="" size="32" formControlName="username" placeholder="Nombre de Usuario" required /></label>                    
                    </div>
                    <div class="col"></div>
                    <div class="col-5 card">
                        <label for="nomAcademia">Nombre de la Academia<br />
                            <input type="text" id="nomAcademia" class="input" value="" size="32" formControlName="academia" placeholder="Nombre de Academia" required/></label>
    
                        <label for="monPago">Moneda de Pago<br />
                            <select class="uk-width-1-1 uk-form-large" required formControlName="moneda" id="monPago">
                                    <option *ngFor="let mon of monedas" ngValue="mon.id">{{ mon.nombre}}</option>
                             </select>

                        </label>
                    </div>
                </div>
        </div>
        <hr>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8 card">
                            <label for="email">E-mail<br />
                                <input type="email" id="email" class="input" value="" size="32" formControlName="email" placeholder="Direccion de Correo" required/></label>
                            <label for="password">Contraseña<br />
                                <input type="password" id="password" class="input" value="" size="32" formControlName="password" placeholder="Contraseña" required/></label>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>


            <p class="submit">
                <input type="submit" name="register" id="register" class="button" value="Guardar" (click)=enviar()/>
            </p>
    </form>
</body>