<body>
    <form [formGroup]="form" ng-submit="enviar()" class="form mx-auto col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
        <div class="container .titulo">
            <div class="row">
                <h1 class="card tit">Crear Cuenta</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="m-1 card">
                    <div class="card-header">Datos Personales</div>
                    <hr>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" value="" placeholder="Nombre">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="last_name" value="" placeholder="Apellido">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre De Usuario</mat-label>
                        <input matInput formControlName="username" value="" placeholder="Nombre de Usuario">
                    </mat-form-field>
                </div>
                <div class="m-1 card">
                    <div class="card-header">Datos de la Acedemia</div>
                    <hr>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre de la Academia</mat-label>
                        <input matInput formControlName="academia" size="32" value=""
                            placeholder="Nombre de la Academia">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Moneda de Pago</mat-label>
                        <select matNativeControl formControlName="moneda">
                            <option value="" selected></option>
                            <option *ngFor="let mon of monedas2" [ngValue]='mon.id'> {{ mon.nombre}} </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput class="input" [type]="hide ? 'password' : 'text'" formControlName="password"
                            placeholder="Contraseña">
                        <button mat-icon-button matSuffix (click)="hide = !hide" class="pass">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

            </div>
            <hr>            
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <button type="submit" [disabled]="!form.valid" style="width: 100%;" id="register" class="button"
                        (click)="enviar()" class="btn btn-primary form-control mt-3" value="Guardar">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
    <hr>
</body>