.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    border-width: 2.5px;
    }
.card:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
      }

.btn
{
    border-radius: 8px;
}

.activar{
    border-color: green;
}