<!------ Include the above in your HEAD tag ---------->

<div class="row">

  <div class="col-md-6   d-none d-xl-block d-lg-none ">

  <img  class="img-fluid "    src="assets/img/portada.png" style="width: 90%;" alt="">
  </div>

  <div class="col-md-6" style="top: 200;">
    
      <div class="" >
          <div id="formContent">
            <!-- Tabs Titles -->
       
            <!-- Icon -->
            <div class="" style="position: relative; top: 80px;" >
          
              <img class="img-fluid" src="assets/img/logo.png"  id="icon" alt="User Icon" />
            </div >
        
            <!-- Login Form -->
            <form  [formGroup]="form" ng-submit="login()"   class="form mx-auto col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
              <div class="form-group container-fluid"  >
                <div class="alert alert-danger text-center" *ngIf="isloged">Usuario o contraseña Erronea</div>
                <div class="col">
                  <input  class="form-control text-center mb-2" id="username"  minlength="4"  formControlName="username" placeholder="Username" required>
                  <input type="password" class="form-control text-center mb-2" minlength="4" style="width:100%" id="password" formControlName="password"  required placeholder="Password">
                  <button type="submit" [disabled]="!form.valid" style="width: 100%;"  id="login" (click)="login()" class="btn btn-primary form-control mt-3"   value="LogIn">
                    <div *ngIf="!spinner">
                      Iniciar Sesion
                    </div>
                    <div *ngIf="spinner">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span > Iniciando...</span>
                    </div>
                   
                   
                  </button>
                </div>
                  
              </div>
            </form>

            <!-- Remind Passowrd -->
            <div class="row" id="formFooter">
              <a class="text-muted text-right" href="#" >Olvidaste tu contraseña?</a>
            </div>
        
          </div>
        </div>
        
  </div>

</div>