<!------ Include the above in your HEAD tag ---------->

<div class="row">

  <div class="col-md-6   d-none d-xl-block d-lg-none ">

  <img  class="img-fluid " id="imagenDeporte"   width="80%" src="assets/img/portada.jpeg"  alt="">
  </div>

  <div class="col-md-6">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <div class="wrapper fadeInDown" >
          <div id="formContent">
            <!-- Tabs Titles -->
          <div class="alert alert-danger" *ngIf="isloged">Usuario o contraseña Erronea</div>
            <!-- Icon -->
            <div class="fadeIn first">
              
              <img src="assets/img/logo.jpg" width="50%" id="icon" alt="User Icon" />
            </div >
        
            <!-- Login Form -->
            <form  ng-submit="login()"  class="form mx-auto col-sm-10 col-md-10 col-lg-10 col-xl-10 ">
              <div class="form-group container-fluid"  >
                  <input  class="form-control text-center mb-2" id="username" name="username"[(ngModel)]="user.username" placeholder="Username">
                  <input type="password" class="form-control text-center mb-2 " id="password" name="password" [(ngModel)]="user.password" placeholder="Password">
                  <button type="submit"  id="login" (click)="login()" class="btn btn-info form-control "  value="LogIn">Login</button>
              </div>
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        
          </div>
        </div>
        
  </div>

</div>