<h2 mat-dialog-title class="text-center">{{data.title}}</h2>

<mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="input-doble">
        <mat-label>Observacion:</mat-label>
        <textarea matInput  formControlName="observation" placeholder="Observacion..."></textarea>
    </mat-form-field>
    </form>

</mat-dialog-content>

<mat-dialog-actions style="margin-left: 72%;">
    <button mat-stroked-button color="primary" [disabled]="!form.valid" (click)="save()">Guardar</button>
    <button mat-stroked-button color="warn" (click)="close()">Cerrar</button>
</mat-dialog-actions>
