<mat-card>
    <div id="Perfil">
        <h1>Modificar datos del Perfil</h1>
        <form name="perfil-form" id="perfil-form">
            <p>
                <label for="name">Nombre<br />
                <input type="text" name="name" id="name" class="input" size="32" value="" /></label>
            </p>

             <p>
                <label for="apell">Apellido<br />
                <input type="text" name="apell" id="apell" class="input" size="32" value="" /></label>
            </p>
    
            <p>
                    <label for="email">E-mail<br />
                    <input type="email" name="email" id="email" class="input" value="" size="32" /></label>
            </p>
    
            <p>
                <label for="username">Nombre De Usuario<br />
                <input type="text" name="username" id="username" class="input" value="" size="20" /></label>
            </p>
    
            <p>
                <label for="password">Contraseña<br />
                <input type="password" name="password" id="password" class="input" value="" size="32" /></label>
            </p>
    
            <p class="submit">
                <input type="submit" name="register" id="register" class="button" value="Registrar" />
            </p>
        </form>
    </div>
</mat-card>