<h2 mat-dialog-title class="text-center">{{data.title}}</h2>

<mat-dialog-content>
    <form [formGroup]="form">

        <mat-form-field appearance="outline" class="input-doble" >
            <mat-label>Fecha de Devolución Estimada</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="expected_date" >
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker disabled="true"></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="input-doble" >
            <mat-label>Número de Telefono de Receptor</mat-label>
            <input matInput formControlName="phone_number"  placeholder="Cantidad"  >            
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-doble" >
            <mat-label>Nombre de Receptor</mat-label>
            <input matInput formControlName="receiver_name"  placeholder="Cantidad" >            
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-doble" >
            <mat-label>Fecha de Devolución</mat-label>
            <input matInput [matDatepicker]="datepicker2" formControlName="return_date" disabled>
            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
            <mat-datepicker #datepicker2 [disabled]="modifica"></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="input-doble">
            <mat-label>Descripción de Devolucion</mat-label>
            <input matInput formControlName="return_description"  placeholder="Descripción" >
        </mat-form-field> -->
        
        <mat-form-field appearance="outline" class="input-doble">
            <mat-label>Descripción de Devolución:</mat-label>
            <textarea
              matInput
              #message
              maxlength="256"
              placeholder="Descripción de Devolucion..."
              formControlName="return_description"
              [disabled]="modifica"
            ></textarea>
            <mat-hint align="start"
              ><strong>Detalle estado de los elementos recibidos</strong>
            </mat-hint>
            <mat-hint align="end"
              >{{ message.value.length }} / 256</mat-hint
            >
          </mat-form-field>

        <mat-form-field appearance="outline" class="input-doble" >
            <mat-label>Stock de Salida</mat-label>
            <input matInput formControlName="quantity_out"  placeholder="Stock de Salida" >            
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-doble">
            <mat-label>Cantidad de Devolución</mat-label>
            <input matInput type="number" formControlName="return_quantity"  placeholder="Cantidad" [disabled]="modifica">
            <mat-error *ngIf="form_cant.hasError('min')">Valor Invalido</mat-error>
            <mat-error *ngIf="form_cant.hasError('max')">Valor Invalido</mat-error>
            <mat-error *ngIf="form_cant.hasError('required')">Valor vacio</mat-error>
        </mat-form-field>




    </form>

</mat-dialog-content>

<mat-dialog-actions style="margin-left: 72%;">
    <button mat-stroked-button color="primary" *ngIf="!modifica" [disabled]="!form.valid" (click)="save()">Guardar</button>
    <button mat-stroked-button color="warn" (click)="close()">Cerrar</button>
</mat-dialog-actions>