<mat-dialog-content>
<ng-container *ngIf="tipo==1;">
    <!-- separar entre columnas las entradas y salidas -->
    <div class="container" *ngIf="entradas.length>0">
        <h1>Entradas: </h1>
        <div class="card " *ngFor="let entrada of entradas">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Cantidad: {{entrada.quantity}} </h6>
              <p class="card-text">N° Remito: {{entrada.number_refer}}</p>
              <p class="card-text">Ubicacion: {{entrada.typestruct_name}} - {{entrada.struct_name}}</p>
            </div>
          </div>
    </div>
    <div class="container" *ngIf="outputs.length>0">
        <h1>Salidas: </h1>
        <div class="card " *ngFor="let salidas of outputs">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Name: {{salidas.name_element}} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Cantidad: {{salidas.quantity}} </h6>
              <!-- <p class="card-text">N° Remito: {{salidas.number_refer}}</p>
              <p class="card-text">Ubicacion: {{salidas.typestruct_name}} - {{salidas.struct_name}}</p> -->
            </div>
          </div>
        <!-- <div class="row" *ngFor="let salidas of outputs">
            {{salidas.name_element}}
        </div> -->
    </div>

</ng-container>
<ng-container *ngIf="tipo==0">
    
</ng-container>

</mat-dialog-content>

<mat-dialog-actions style="margin-left: 72%;">
    <button mat-stroked-button color="primary" *ngIf="!modifica"  (click)="save()">Guardar</button> <!-- [disabled]="!form.valid" -->
    <button mat-stroked-button color="warn" (click)="close()">Cerrar</button>
</mat-dialog-actions>