<mat-dialog-content>
<ng-container *ngIf="tipo==1;">
    <!-- Entradas -->
    <div class="container" *ngIf="entradas.length>0">
        <h1>Entradas: </h1>
        <div class="card " *ngFor="let entrada of entradas">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Cantidad: {{entrada.quantity}} </h6>
              <p class="card-text">N° Remito: {{entrada.number_refer}}</p>
              <p class="card-text">Ubicacion: {{entrada.typestruct_name}} - {{entrada.struct_name}}</p>
            </div>
          </div>
    </div>

    <!-- Salidas -->
    <div class="container" *ngIf="outputs.length>0">
        <h1>Salidas: </h1>
        <div class="card " *ngFor="let salidas of outputs">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Tipo: {{salidas.name_availability}} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Cantidad: {{salidas.quantity_out}} </h6>
              <p class="card-text">Ubicacion Origen: {{salidas.typestrOrig}} - {{salidas.structDest}}</p>
              <p class="card-text">Ubicacion Destino: {{salidas.typestrDest}} - {{salidas.structOrigin}}</p>
            </div>
          </div>
        <!-- <div class="row" *ngFor="let salidas of outputs">
            {{salidas.name_element}}
        </div> -->
    </div>

</ng-container>
<ng-container *ngIf="tipo==0">
    <h5> Eliminar elemento?</h5>
</ng-container>

</mat-dialog-content>

<mat-dialog-actions style="margin-left: 72%;">
    <!-- <button mat-stroked-button color="primary" *ngIf="tipo==1"  (click)="save()">Guardar</button> [disabled]="!form.valid" -->
    <div class="row">
      <div class="col">
        <button mat-stroked-button color="warn" *ngIf="tipo==0"  (click)="delete()">Borrar</button>
      </div>
      <div class="col">
        <button mat-stroked-button color="primary" (click)="close()">Cerrar</button>
      </div>
    </div>
</mat-dialog-actions>