<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!--toolbar -->
  <mat-toolbar class="example-toolbar" style="background-color: #1d565f;">

    <button [hidden]="!mobileQuery.matches" mat-icon-button (click)="snav.toggle()" class="btn text-white"  style="margin-left: -10px;">
      <div class="mt-2"><mat-icon class="m-auto">menu</mat-icon></div>
    </button>
    <a class="text-white" routerLink='/'>
      <!-- <img src="assets/img/logo.png" style="background-color: white;" width="30" height="30"
        class="d-inline-block align-top rounded-circle" alt="" loading="lazy"> -->
        <p [hidden]="mobileQuery.matches" class="m-auto">Creando Academias</p>
      
    </a>

    <div class="col-6 mx-auto">
        <a (click)="programa()">Programas</a>
        <br>
        <a (click)="coso()">Calderon gay</a>
    </div>
    
    <button class="btn  text-white col-1 mr-3 p-0" [matMenuTriggerFor]="menu">
      <div class="d-flex flex-row m-0 p-0">
        <!-- <img src="{{datoUser.imagen}}" style="background-color: white;" width="30" height="30"
          class="d-inline-block m-auto rounded-circle" alt="" loading="lazy"> -->
            <!-- <p [hidden]="mobileQuery.matches" class="my-auto ml-1 p-0">{{datoUser.name}} </p> -->
            <mat-icon [hidden]="mobileQuery.matches" class="my-auto p-0">arrow_drop_down</mat-icon>
      </div>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span >Usuario</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <!-- sideNav -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="!mobileQuery.matches" >

      <!-- items sideNav-->
      <mat-selection-list #shoes [multiple]="false" class="m-0 p-0">
        <mat-accordion class="p-0 m-0">
        <p [hidden]="!mobileQuery.matches" class="text-center font-weight-bold h5 mt-2">Creando Academias</p>
       
        <p *ngFor="let nav of fillerNav" class="m-0">

        <mat-list-option *ngIf="!nav.subMenu; else elseBlock" class="btnSideNav m-0"  routerLink="{{nav.route}}"  (click)="mobileQuery.matches ? snav.toggle() : ''">
          <div class="row">
            <mat-icon class="my-auto">{{nav.icon}}</mat-icon>
            <p class="my-auto ml-2">{{nav.name}}</p>
          </div>
        </mat-list-option>

        <ng-template #elseBlock>
          
        <mat-expansion-panel  class="mat-elevation-z0 btnSideNav m-0">

          <mat-expansion-panel-header  [collapsedHeight]="'48px'" [expandedHeight]="'48px'" class="m-0 btnSideNav">
            <div class="row">
              <mat-icon class="my-auto" style="margin-left: 15px;">{{nav.icon}}</mat-icon>
              <p class="my-auto ml-2">{{nav.name}}</p>
            </div>
          </mat-expansion-panel-header>

          <mat-list-option  *ngFor="let sub of nav.subMenu" class="m-0 content"  routerLink="{{sub.route}}"  (click)="mobileQuery.matches ? snav.toggle() : ''">
            <span style="padding-left: 3rem;"> {{sub.name}}</span>
          </mat-list-option>
<!-- 
          
        <p *ngFor="let nav of sub" class="m-0">

          <mat-list-option *ngIf="!sub.subMenu; else elseBlock" class="btnSideNav m-0"  routerLink="{{nav.route}}"  (click)="mobileQuery.matches ? snav.toggle() : ''">
            <div class="row">
              <mat-icon class="my-auto">{{nav.icon}}</mat-icon>
              <p class="my-auto ml-2">{{nav.name}}</p>
            </div>
          </mat-list-option>
  
          <ng-template #elseBlock>
            
          <mat-expansion-panel  class="mat-elevation-z0 btnSideNav m-0">
  
            <mat-expansion-panel-header  [collapsedHeight]="'48px'" [expandedHeight]="'48px'" class="m-0 btnSideNav">
              <div class="row">
                <mat-icon class="my-auto" style="margin-left: 15px;">{{nav.icon}}</mat-icon>
                <p class="my-auto ml-2">{{nav.name}}</p>
              </div>
            </mat-expansion-panel-header>
  
            <mat-list-option  *ngFor="let sub of nav.subMenu" class="m-0 content"  routerLink="{{sub.route}}"  (click)="mobileQuery.matches ? snav.toggle() : ''">
              <span style="padding-left: 3rem;"> {{sub.name}}</span>
            </mat-list-option>
  
          </mat-expansion-panel>
        </ng-template>
          </p>
   -->

        </mat-expansion-panel>
      </ng-template>
        </p>

          

        </mat-accordion>
      </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>