<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!--toolbar -->
  <nav class="navbar navbar-light" style="background-color: #1d565f;">
    <a class="navbar-brand text-white" routerLink='#'>
      <img src="assets/img/logo.png" style="background-color: white;" width="30" height="30"
        class="d-inline-block align-top rounded-circle" alt="" loading="lazy">
      Creando Academias
    </a>
    <input class="form-control mr-sm-2 col-4 text-white" id="search" style="background-color: #277380;" type="search"
      placeholder="Busqueda" aria-label="Search">
    <div class="btn-group float-right" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Usuario
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" (click)="logout()">Crerrar sesion</a>
      </div>
    </div>
  </nav>

  <!-- sideNav -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'side' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" opened disableClose>

      <!-- items sideNav-->
      <mat-nav-list>
        <div *ngFor="let nav of fillerNav" class="mx-1">
          <a mat-list-item routerLink="{{nav.route}}">
            <mat-icon class="mx-3">{{nav.icon}}</mat-icon>
            <p class="mt-3">{{nav.name}}</p>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>