
<div class="container titulo" style="width: 100%;">
    <div class="row">
      <h1 class="card tit">Categorias</h1>
    </div>
    
    <hr />  

    <div class="row">
      <div class="container">
      <div class="rowdndPlaceholder col-md-12"
        #placeholder></div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col">

          <mat-card class="carga">            
              <mat-card-header >Nuevas Categorias</mat-card-header>

            <div class="container">

              
              <div class="row" [formGroup]= form >
                  <mat-form-field appearance="outline">
                    <mat-label>Nueva Categoria</mat-label>
                    <input matInput formControlName="categoria" value="" placeholder="Nombre de Categoria" >
                  </mat-form-field>
              </div>
              <div class="row">
              <button
                mat-raised-button
                class="btn-primary"
                id="creaCategoria"
                (click)="modificaTexto()"
              >
                Aceptar
              </button>
              </div>
              <div class="row">        
                <div [hidden]="agregarCat">
                <li type="button"
                  *ngFor="let template of nestedCateg.templates"
                  [dndType]="template.type"
                  [dndDraggable]="{effectAllowed:'copy'}"
                  [dndObject]="template"
                  (dragend)="agregarCat=true"
                  class="btn btn-default btn-lg col-md-12">
                  Arrastrar Elemento
                </li>
                </div>
              </div> 


            </div>
          </mat-card>

        </div>
        <div class="col-2"></div>


      </div>


      <div class="row">
            <div *ngFor="let dropzone of nestedCateg.dropzones;let i = index"
              class="col-md-6">
              <div class="dropzone box box-yellow" *ngIf="i==0">
                <!-- The dropzone also uses the list template -->
                <h3>Listado de Categorias</h3>
                <div [dndList]="{allowedTypes: ['padre']}"
                  [dndModel]="dropzone"
                  [dndPlaceholder]="placeholder" class="col-md-12">
                  <div *ngFor="let item of dropzone">
                    <container *ngIf="item.type === 'padre'"
                      [list]="dropzone"
                      [model]="item"></container>
                    <div *ngIf="item.type === 'hijo'"
                      [dndType]="item.type"
                      [dndDraggable]
                      (dndMoved)="removeItem(item, dropzone)"                      
                      [dndObject]="item"
                      class="col-md-12">{{item.name_category}}</div>
                  </div>
                </div>
              </div>


              <div class="dropzone box box-yellow" *ngIf="i==1">
                <h3>Eliminar Elementos</h3>
                <div [dndList]="{allowedTypes: ['padre']}"
                [dndModel]="dropzone"
                [dndPlaceholder]="placeholder" class="col-md-12"
                (dndDrop)="eliminaCategoria($event)"
                >
              </div>
              </div>
        </div>
      </div>

    </div>
    </div>

    <div class="row" >
        <hr />
        <div class="col-8"></div>
        <div class="col-4">
          <button
            type="submit"
            class="button"
            (click)="GuardaCategorias()"
            class="btn btn-primary form-control mt-3"
            value="Guardar"            
          >
            Guardar Cambios
          </button>
        <hr />
        </div>
      </div>


   
</div>