/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 
    background: #fbfbfb;

}

.card, .card-img-top {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
.card:hover  ,.card-img-top:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    }
.card-header{
text-align: center;


}


.titulo{
   font-size: 1.5em;
}
//Cads

  .div_titulo{
   display: block;
   text-align: center;
  }


   
    .form__button_guardar{
     display: inline-block;
     margin-top: 5px;
     margin-left: 24%;
     width: 50%;
     }
 
    .form__div_input{
      display: inline;
      width: 90%;
    }

    //Boton + add
    .form__div_button{
      display: inline-flex;
      margin-left: 1%;
      margin-bottom: 3%;
    }
  
    @media only screen and (max-width: 850px){
      .form{
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        transition: left 1s;
        max-width: 27em;
      }
      .form__button_guardar{
        display: inline-block;
        margin-left: 1%;
       
        width: 95%;
        transition: 1s;
        }
    }


    @media only screen and (max-width: 390px){
      .form{
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        transition: left 1s;
        max-width: 27em;
      }
      .form__div_input{
        display: inline;
          width: 85%;
        }
        .form__button_guardar{
          display: inline-block;
          margin-left: 1%;
         
          width: 95%;
          transition: 1s;
          }
    }


    
    @media only screen and (min-width: 850px){
      .form{
        display: inline-block;
      text-align: center;
        position: absolute;
        left: 20%;
        transition: left 1s;
      }
    }


  .container .fm{
  padding: 25x 16px 25px 10px;
  font-weight: 400;
  overflow: hidden;
  width: auto;
  height: auto;
  background: #f4f6f8;
  }
  .container .row .m-1, div .card .col-md-8,.container .row .m-1 .row {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 450px;
    background: #f4f6f8;
  }

      //#f4f6f8    
  .container label {
  color: #777;
  font-size: 14px;
  }
  
  .container input[type=text],.container input[type=email],.container input[type=password],  .container label select,input [type="hide ? 'password' : 'text'"] {
  background: #f4f6f8;
  font-size: 15px;
  line-height: 1;
  width: auto;
  padding: 3px;
  margin: 0 6px 5px 0;
  outline: none;
  }

  .row input[type=dir]  {
    background: #e5e4e4;
    font-size: 15px;
    border: 1px solid #d9d9d9;

    }
  hr {
    clear: both;
    visibility: hidden;
}

.buttonMas{
  background:transparent;
  color: rgb(220, 114, 37);
    //color: rgb(8, 126, 12);
    font-size: 2em !important;
    border: 0;
}

.buttonMas:hover {
  background:transparent;
  color: rgb(234, 91, 43);

    //color: rgb(14, 68, 15);

    border: 0;
    cursor: pointer ;
}



.btn-primary{
  color:  #fff;
  //background-color: #a0453f;
  background-color: rgb(234, 91, 43);
  border-color: rgb(231, 54, 46);

}

.btn-primary.disabled, .btn-primary:disabled{
  color:  #fff;
//background-color: #a0453f;
background-color: rgb(231, 52, 46);
border-color:  rgb(231, 54, 46);
}


 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color:  rgb(231, 54, 46);
border-color:  rgb(231, 54, 46); /*set the color you want here*/
}

.badge-primary{
  color: #fff;
background-color: rgb(231, 54, 46);
}

.pass
{
border: transparent;

}

.ingreso{
background: #277380;
}

mat-card{
background: #f4f6f8;
}

@media (max-width: 380px) {
  .titulo-responsivo {
    font-size: 3.5vw;
  }

  .texto-boton-responsivo {
    font-size: 2.3vw;
  }
}

@media (max-width: 900px) {
  .titulo-responsivo {
    font-size: 2.5vw;
  }

  .texto-boton-responsivo {
    font-size: 4.3vw;
  }
}
.texto-boton-responsivo {
  font-size: 1.3vw;
}

.texto-subtitulo-responsivo {
  font-size: 1.5vw;
}

.titulo-curso-responsivo {
  font-size: 1.4vw !important;
}

//Alerts-------------------------------------
/* The alert message box */
.success {
  padding: 20px;
  background-color: rgb(8, 126, 12); /* Red */
  color: white;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
}
.alert {
  padding: 20px;
  background-color: rgb(126, 8, 8); /* Red */
  color: white;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

//Fin Alerts---------------------------
