<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-2"></div>
    <div class="col-8 container">
      <mat-card class="titulo text-white">
        <div class="row">
          <div class="col-8">
            <mat-card-title class="titulo-responsivo"
              >Periodo prueba de Gratis</mat-card-title
            >
          </div>

          <div class="col-4">
            <button
              class="texto-boton-responsivo"
              style="background-color: #c4543d; color: white;"
            >
              Seleccionar Plan
            </button>
          </div>
        </div>
      </mat-card>
      <!-- Card -->
      <mat-card class="">
        <mat-card-title class="texto-subtitulo-responsivo"
          >Sigue nuestros pasos</mat-card-title
        >
        <mat-card-subtitle>Solo eso!</mat-card-subtitle>
        <div class="row">
          <div class="col-xm-4">
            <mat-card routerLink="#" class="curso-card">
              <mat-card-header>
                <img
                  mat-card-avatar
                  src="assets/img/curso.png"
                  alt="imagen para cursos"
                  width="5%"
                  height="15%"
                />

                <mat-card-title class="titulo-curso-responsivo"
                  >Agrega un cursos</mat-card-title
                >
                <span
                  class="titulo-curso-responsivo"
                  *ngIf="cursos"
                  style="color: #4db71f;"
                  class="material-icons mt-2"
                >
                  done
                </span>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-2"></div>
  </div>
</div>
