<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-2"></div>
    <div class="col-8">
      <mat-card class="titulo mb-4 text-white">
        <div class="row">
          <div class="col-6 mt-2">
            <mat-card-title>Periodo de Gratis</mat-card-title>
          </div>
          <div class="col-2"></div>
          <div class="col-4">
            <button class="p-2" mat-button style="background-color: #c4543d; color: white;" routerLink="/suscripciones">
              Seleccionar Plan
            </button>
          </div>
        </div>
      </mat-card>
      <!-- Card -->
      <mat-card class="">
        <mat-card-title>Sigue nuestros pasos</mat-card-title>
        <mat-card-subtitle>Solo eso!</mat-card-subtitle>
        <div class="row">
          <div class="col-4">
            <mat-card routerLink="#" class="curso-card">
              <mat-card-header>
                <img mat-card-avatar src="assets/img/curso.png" alt="imagen para cursos" width="50px" height="150px" />

                <mat-card-title>Agrega un cursos</mat-card-title>
                <span *ngIf="cursos" style="color: #4db71f;" class="material-icons mt-2">
                  done
                </span>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-2"></div>
  </div>
</div>