table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .mat-elevation-z8{
      display: inline-block;
      width: 95%;
        margin-left: 2em;
        
  }
  
.buscar{
  width: 50% !important;
  margin-left: 25%;

}
.salida{
  color: #af0606; 
  cursor: pointer;
}


.columnafin{
  padding-left: 30px;
}


.btn-primary {
  color: #fff;
  background-color: #c4543d;
  border-color: #c4544d;
  margin-right: 30px; 
  justify-content: end;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #c4544d;
  border-color: #c4543d;
  margin-right: 30px; 
  justify-content: end;
}