<div class="text-center" *ngIf="noInventarios && !spinnerSal">
  <h1>No existen inventarios para mostrar en Salidas..!</h1>
</div>

<div [hidden]="!inventarioss" *ngIf="!spinnerSal">
  <br>
  <div class="row">
    <div class="col-9">
      <mat-form-field class="buscar" >
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda" #input>
        <mat-hint><strong>Para filtrar respecto a un mes, insertar en el cuadro de busqueda de la forma: "año-mes", ej: 2020-01</strong></mat-hint>
      </mat-form-field>
    </div>
    <div class="col-3">
      <button mat-stroked-button class="btn btn-primary"
      (click)="generaPdfDonaciones()">
        Informe Donaciones
      </button>
      <br><br>
      <button mat-stroked-button class="btn btn-primary"
      (click)="generaPdfEntregas()">
        Informe Entregas
      </button>
    </div>
  </div>
  <br>
  <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Progress Column -->
      <ng-container matColumnDef="name_element"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let row"> {{row.name_element}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

            <!-- Color Column -->
      <ng-container matColumnDef="marca"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
        <td mat-cell *matCellDef="let row"> {{row.mark_name}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="quantity_out">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EGRESO </th>
        <td mat-cell *matCellDef="let row"> {{row.quantity_out}} </td>
      </ng-container>

      <ng-container matColumnDef="destination_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > DESTINO </th>
        <td mat-cell *matCellDef="let row" style="padding-right: 30px;"> {{row.destination_id}} </td>
      </ng-container>

      <ng-container matColumnDef="availability_id"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 30px;"> RAZON </th>
        <td mat-cell *matCellDef="let row" style="padding-left: 30px;"> {{row.availability_id}} </td>
      </ng-container>


      <ng-container matColumnDef="created"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="columnafin"> FECHA </th>
        <td mat-cell *matCellDef="let row"  class="columnafin"> {{ row.created | date:'yyyy-MM-dd' }} </td>
      </ng-container>

      <ng-container matColumnDef="editobserv" *ngIf="!verifica()">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR </th>
        <td mat-cell *matCellDef="let row" > <span (click)="editEnvio(row)" class="material-icons salida">
          text_snippet
          </span> </td>
      </ng-container>

      <ng-container matColumnDef="delete" *ngIf="!verifica()">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ELIMINAR </th>
        <td mat-cell *matCellDef="let row" > <span (click)="deleteOut(row)" class="material-icons salida">
          delete_forever
          </span> </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No se encontro un dato con el valor ingresado. "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>

<hr />


<div class="text-center" *ngIf="noInventarios2 && !spinnerSal">
  <h1>No existen salidas para mostrar con solo cantidad de salida..!</h1>
</div>

<div [hidden]="!inventarioss2" *ngIf="!spinnerSal">
  <br>
  <div class="row">
    <div class="col-9">
      <mat-form-field class="buscar" >
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter2($event)" placeholder="Busqueda" #input2>
        <mat-hint><strong>Para filtrar respecto a un mes, insertar en el cuadro de busqueda de la forma: "año-mes", ej: 2020-01</strong></mat-hint>
      </mat-form-field>
    </div>
    <div class="col-3">
      <button mat-stroked-button class="btn btn-primary"
      (click)="generaPdf()">
        Informe Salidas-SD
      </button>
    </div>
  </div>
  <br>
  <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource2" matSort>

      <!-- Progress Column -->
      <ng-container matColumnDef="name_element"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let row"> {{row.name_element}} </td>
      </ng-container>

      <!-- Name Column -->
      <!-- <ng-container matColumnDef="description"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container> -->

            <!-- Color Column -->
      <ng-container matColumnDef="marca"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
        <td mat-cell *matCellDef="let row"> {{row.mark_name}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="quantity_out">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EGRESO </th>
        <td mat-cell *matCellDef="let row"> {{row.quantity_out}} </td>
      </ng-container>

      <ng-container matColumnDef="created"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="columnafin"> FECHA </th>
        <td mat-cell *matCellDef="let row"  class="columnafin"> {{ row.created | date:'yyyy-MM-dd' }} </td>
      </ng-container>

      <ng-container matColumnDef="editobserv" *ngIf="!verifica()">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR </th>
        <td mat-cell *matCellDef="let row" > <span (click)="editEnvio(row)" class="material-icons salida">
          text_snippet
          </span> </td>
      </ng-container>

      <ng-container matColumnDef="delete" *ngIf="!verifica()">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ELIMINAR </th>
        <td mat-cell *matCellDef="let row" > <span (click)="deleteOutNodat(row)" class="material-icons salida">
          delete_forever
          </span> </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No se encontro un dato con el valor ingresado. "{{input2.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>


<div style="margin-left: 45%; margin-top: 20%;" *ngIf="spinnerSal">
  <mat-spinner
    [mode]="'indeterminate'">
  </mat-spinner>
</div>
